<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=TicketsNow;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  
  <appSettings>
    <add key="GatewayService.MerchantKey" value="5e62ba71-73d4-4ca0-8c03-26d1f78d6c71" />
    <add key="GatewayService.HostUri" value="https://sandbox.mundipaggone.com" />
  </appSettings>
    
  <system.net>
    <mailSettings>
      <smtp from="mundipagg@ticketsnow.com">
        <network host="" password="Mundi123Pagg" userName="mundipagg@ticketsnow.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
 