
<table class="table">
    <caption>
        <a ng-click="model.refresh()"
           class="fa fa-1x fa-refresh right"></a> &nbsp;&nbsp;
        {{rsx.label.shoppingCart}}
    </caption>
    <thead>
        <tr>
            <th>{{rsx.label.image}}</th>
            <th>{{rsx.label.title}}</th>
            <th>{{rsx.label.description}}</th>
            <th>{{rsx.label.total}}</th>
            <th>{{rsx.label.unitPrice}}</th>
            <th>{{rsx.label.action}}</th>
        </tr>
    </thead>
    <tbody id="shoppingCart"></tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <label>
                    {{rsx.label.total}}
                </label>
            </td>
            <td colspan="2">
                <b>
                    <span class="text-red">
                        R$ &nbsp;{{model.totalPrice.toFixed(2)}}
                    </span>
                </b>
            </td>
            <td>

                <input type="submit"
                       value="Pay On-Click"
                       id="btBuy"
                       ng-show="{{exibirPagamento }}"
                       ng-click="model.pay()"
                       class="btn btn-success"
                       name="btBuy" />
            </td>
        </tr>
    </tfoot>
</table>
<div ng-show="{{exibirPagamento===false}}" class="form-group">
    <span class="right">
        You need to <a href="/oauth/" class="btn btn-success">login</a> or
        <a href="/oauth/#/register" class="btn btn-success">register</a> to checkout
    </span>
</div>
<div ng-show="{{exibirPagamento}}">
    <credit rsx="rsx" model="model.creditCard"></credit>
</div>
