<div class="form-group">

    <table class="table table-responsive">
        <caption>
            {{rsx.titulosPg.myRequest}}

        </caption>
        <thead>
            <tr>
                <th>
                    {{rsx.label.requestNumber}}
                </th>
                <th>
                    {{rsx.label.data}}
                </th>
                <th>
                    {{rsx.label.description}}
                </th>
                <th>
                    {{rsx.label.total}}
                </th>
                <th>{{rsx.label.status}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="r in requests">
                <td>
                    {{r.number}}
                </td>
                <td>{{r.date}}</td>
                <td>
                    <p ng-bind="$parent.$eval(r.description)"></p>
                </td>
                <td>
                    {{r.total}}
                </td>
                <th>{{r.status}}</th>
            </tr>

        </tbody>
    </table>

</div>