<div class="form-group">
    <table class="table table-responsive fc-grid">
        <caption>
            {{rsx.titulosPg.myRequest}}
        </caption>
        <thead>
            <tr>
                <th>
                    {{rsx.label.requestNumber}}
                </th>
                <th>
                    {{rsx.label.date}}
                </th>
                <th>
                    {{rsx.label.description}}
                </th>
                <th>
                    {{rsx.label.total}}
                </th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in requests">
                <td>
                    {{r.number}}
                </td>
                <td>
                    {{r.date}}
                </td>
                <td>
                    {{r.description}}
                </td>
                <td>
                    {{r.total}}
                </td>
                <td>
                    {{r.statusId}}
                </td>

            </tr>
        </tbody>
    </table>
</div>