<header class="header">

    <a class="logo" href="/#/">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        {{rsx.nomeApp}}
    </a>

    <!-- Header Navbar: style can be found in header.less -->

    <nav class="navbar navbar-static-top" role="navigation">

        <!-- Sidebar toggle button-->

        <a class="navbar-btn sidebar-toggle" role="button" data-toggle="offcanvas">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

        </a>



        <div class="navbar-right">

            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>{{oauth.nomeUsuario}} <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img class="img-circle" alt="User Image" src="{{oauth.avatar}}">
                            <p>
                                {{oauth.nomeUsuario}}

                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat"
                                   ng-click="model.singOut()">
                                    {{model.singText}}
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>